force-app/main/default/flows/Create_Assessment_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <dynamicChoiceSets>
        <name>Carer_selection</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Carer__c</picklistField>
        <picklistObject>Assessment__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Program_names</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Program__c</picklistField>
        <picklistObject>Assessment__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pronouns</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Pronouns__c</picklistField>
        <picklistObject>Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Risk</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Risk__c</picklistField>
        <picklistObject>Assessment__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Create Assessment Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Assessment Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Assessment_Record</name>
        <label>Create Assessment Record</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <inputAssignments>
            <field>Abilities__c</field>
            <value>
                <elementReference>Abilities</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assessment_Date__c</field>
            <value>
                <elementReference>Assessment_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Behaviour_History__c</field>
            <value>
                <elementReference>Behavior_History</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Carer__c</field>
            <value>
                <elementReference>Carer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emotional_Goals__c</field>
            <value>
                <elementReference>Emotional_Goals</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family__c</field>
            <value>
                <elementReference>Who_do_you_Live_with</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interests__c</field>
            <value>
                <elementReference>What_do_you_in_your_sparetime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical__c</field>
            <value>
                <elementReference>Medical_History</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mentor_Preference__c</field>
            <value>
                <elementReference>Mentor_Preference</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Personality_Summary__c</field>
            <value>
                <elementReference>Personality_Summary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Physical_Goals__c</field>
            <value>
                <elementReference>Physical_Goals</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program__c</field>
            <value>
                <elementReference>Program</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pronouns__c</field>
            <value>
                <elementReference>Pronoun</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk__c</field>
            <value>
                <elementReference>Risks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support__c</field>
            <value>
                <elementReference>how_do_you_like_people_to_support_you</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transport__c</field>
            <value>
                <elementReference>Need_support_regarding_travel</elementReference>
            </value>
        </inputAssignments>
        <object>Assessment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Assessment_Info</name>
        <label>Assessment Info</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Assessment_Record</targetReference>
        </connector>
        <fields>
            <name>Assessment_Details</name>
            <fieldText>Assessment Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Assessment_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Program</name>
                    <choiceReferences>Program_names</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Program Name 1</stringValue>
                    </defaultValue>
                    <fieldText>Program</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Name of the Program for which assessment is being conducted&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Assessment_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </defaultValue>
                    <fieldText>Assessment Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assessment_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Risks</name>
                    <choiceReferences>Risk</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Risk</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Carer</name>
                    <choiceReferences>Carer_selection</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Carer</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Assessee_Details</name>
            <fieldText>Assessee Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Assessee_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Pronoun</name>
                    <choiceReferences>Pronouns</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Pronouns</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;What pronouns do you use? Explain what pronouns are for those who don’t know.&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Who_do_you_Live_with</name>
                    <dataType>String</dataType>
                    <fieldText>Who do you Live with?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>What_do_you_in_your_sparetime</name>
                    <dataType>String</dataType>
                    <fieldText>What do you in your spare time?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Ocean</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Ocean ﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Have_Surfed_Before</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Have Surfed Before?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Can_Swim</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Can Swim?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assessee_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Goals</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Goals &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;What are your goals for the 6 week program?&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Social_Goals</name>
                    <dataType>String</dataType>
                    <fieldText>Social Goals</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Physical_Goals</name>
                    <dataType>String</dataType>
                    <fieldText>Physical Goals</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Emotional_Goals</name>
                    <dataType>String</dataType>
                    <fieldText>Emotional Goals</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Assessee_Preferences</name>
            <fieldText>Assessee Preferences</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Assessee_Preferences_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>how_do_you_like_people_to_support_you</name>
                    <dataType>String</dataType>
                    <fieldText>How do you like people to support you?</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;If stressed out how do you like people to support you? e.g. left alone, time with others.&amp;nbsp;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Mentor_Preference</name>
                    <dataType>String</dataType>
                    <fieldText>Mentor Preference</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;We can’t guarantee anything but what gender would you prefer for your mentor?&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Need_support_regarding_travel</name>
                    <dataType>String</dataType>
                    <fieldText>Need support regarding travel?</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;How are you guys planning on getting down to the beach, do you need any support regarding this&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Additional_Info</name>
            <fieldText>Additional Info</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Additional_Info_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Personality_Summary</name>
                    <dataType>String</dataType>
                    <fieldText>Personality Summary</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Medical_History</name>
                    <dataType>String</dataType>
                    <fieldText>Medical History</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Do you have any medical issues we need to know about? (eg asthma, diabetes, allergies, medications etc.)&amp;nbsp;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Behavior_History</name>
                    <dataType>String</dataType>
                    <fieldText>Behavior/History</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Guardian / referral form&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Abilities</name>
                    <dataType>String</dataType>
                    <fieldText>Abilities</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Guardian / referral form&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Create</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assessment_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
